.service {
    border-radius: 16px;
    height: 200px;
}
.blueBg {
    background: #181B3F;
}
.redBg {
    background: #BC1922;
}
.service__description {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}