
.infoPanel {
    position: absolute;
    border-radius: 16px;
    background: #fff;
    padding: 30px 30px 15px;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
    bottom: -100px;
}
.infoPanelItem {
    display: flex;
    gap: 40px;
    padding: 15px 40px;
    h3 {
        color: #181B3F;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    p {
        color: #181B3F;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }
    &:nth-child(1), &:nth-child(5) {
        p {
            font-size: 16px;
        }
    }

    &:nth-child(3) {
        p {
            font-size: 24px;
        }
    }

}

@media screen and (max-width: 1200px) {
    .infoPanel {
        padding: 20px;
    }
    .infoPanelItem {
        padding: 5px 5px;
    }
}
@media screen and (max-width: 900px) {
    .infoPanel {
        bottom: -400px;
        z-index: 1;
        align-items: center;
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .infoPanel {
        bottom: -550px;
        z-index: 1;
        padding-left: 0;
        padding-right: 0;
    }
}