.item {

}

.item__image {

}

.item__title {
    color: #181B3F;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

@media screen and (max-width: 600px) {
    .item__image {
        width: 70px;
        height: 70px;
    }
    .item__title {
        font-size: 14px;
        text-align: center;
    }
}