@import 'src/assets/styles/mixins';
.button {
    @include flexCenter;
    line-height: 100%;
    position: relative;
    height: fit-content;
    p {
        position: relative;
        top: 2px;
    }
    transition: all 0.2s;
}

.hover {
    &:hover {

    }
}
.discount {
    @include flexCenter;

    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;

    position: absolute;
    right: 4px;
    top: -16px;
}