@import "@assets/styles/mixins";

.section {
    width: 100%;
    max-height: 850px;
    height: 800px;
    background: #0F1235;
    @include flexCenter();
}
%flame {
    background: #0F1235;
    width: 470px;
    height: 800px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    @include flexCenter();

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 800px;
        z-index: -1;
    }
    &::before {
        content: '';
        position: absolute;
        border-radius: 620px;
        background: linear-gradient(180deg, rgba(255, 212, 101, 0.39) 30%, rgba(255, 0, 0, 0.39) 100%);
        mix-blend-mode: color-dodge;
        filter: blur(150.5px);
        width: 620px;
        height: 608px;
        transform: rotate(-119.901deg);
        z-index: 0;
    }
}
.left_flame {
    @extend %flame;
    left: 0;

    &::after {
        background-image: url('@assets/images/contactsPage/flame-left.webp');
        background-position: 0px center;
        background-repeat: no-repeat;
        background-size: auto;
        left: 0;
        opacity: 1;
    }
    &::before {
        left: 180px;
    }
}
.right_flame {
    @extend %flame;
    right: 0;

    &::after {
        background: url('@assets/images/contactsPage/flame-right.webp');
        background-repeat: no-repeat;
        background-position: 0px center;
        background-size: auto;
        right: 0;
    }
    &::before {
        left: -240px;
    }
}
.section_title {
    @include sectionTitle('#181B3F', 64px, 700);

}
.section_wrapper {
    height: 100%;
    padding-top: 14vw;
    padding-left: 50px;
}

.section_wrapper__btn {
    position: absolute;
    left: 220px;
    bottom: -15px;
}

.section_content {
    display: flex;
    align-items: center;
    position: absolute;
    background: #181B3F;
    width: 70%;
    border-radius: 24px;
    height: 900px;
    overflow: hidden;
}

@media screen and (max-width: 1800px) {
    %flame {
        background: #0F1235;
        width: 430px;
    }
    .left_flame {
        &::after {
            background-position: -40px center;
        }
        &::before {
            left: 150px;
        }
    }
    .right_flame {
        &::after {
            background-position: 0px center;
        }
        &::before {
            left: -300px;
        }
    }
}