@import "@assets/styles/mixins";

.form {
    @include flexCenter(true);
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 64px 40px;
    &::before {
        content: '';
        background: #fff;
        position: absolute;
        width: calc(100% / 12 * 7);
        right: 0;
        height: 100%;
        top: 0;
        z-index: 0;
    }
}
.form__inner {
    @include flexCenter(true);
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 40px;
    width: 100%;
}
.form_title {
    color: #BC1922;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 8px;
    z-index: 1;
    width: 100%;
    text-align: left;
}

.form_subtitle {
    color: #181B3F;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    z-index: 1;
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
}

.form_name_icon {
    position: absolute;
    bottom: 15px;
    left: 7px;
}

.form_name_icon__email {
    bottom: 10px;
    left: 3px;
}

@media screen and (max-width: 1300px) {
    .form {
        padding: 36px 40px;
    }
}

@media screen and (max-width: 1100px) {
    .form {
        padding: 24px 40px;
    }
}

@media screen and (max-width: 1000px) {
    .form {
        padding: 24px 30px;
        &::before {
            width: calc(100% / 12 * 6.5);
        }
    }
    .form__inner {
        padding: 24px 0px 24px 70px;
    }
    .form_title {
        font-size: 40px;
    }
    .form_subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .form {
        z-index: 10;
        padding: 40px 10px;
        width: 100%;
        position: relative;
        .form__inner {
            padding: 24px 40px;
        }
        &::before {
            width: 100%;
            height: calc(100% + 120px);
            position: absolute;
            bottom: -120px;
            top: inherit;
        }
    }
}

@media screen and (max-width: 600px) {
    .form {
        padding: 40px 0px;
    }
    .form__inner {
        padding: 24px 30px;
    }
    .form_title {
        font-size: 32px;
    }
    .form_subtitle {
        font-size: 16px;
    }
}