@import "@assets/styles/mixins";

.section {
    padding: 140px 0;
    background: url("@assets/images/homePage/reviews-bg.webp") no-repeat center;
    background-size: cover;
    position: relative;
    @include shadowBg(0.4);
}

.section__inner {
    @include flexCenter(true)
}

.section__title {
    @include sectionTitle();
    text-transform: uppercase;
    margin-bottom: 15px;
    z-index: 1;
    text-align: center;
}

.section__subtitle {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    z-index: 1;
}

.section__stackBtns {

}

@media screen and (max-width: 900px) {
    .section {
        padding: 64px 0;
    }
    .section__title {
        font-size: 36px;
        text-align: left;
    }
    .section__subtitle {
        font-size: 16px;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .section__stackBtns {
        width: 100%;
        & button {
            width: 100%;
        }
    }
}