@import '@assets/styles/mixins';
@import '@assets/fonts/stylesheet.css';

.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0;
}
.header__logo {
    position: absolute;
    background: #fff;
    padding: 15px;
    left: 40px;
    border-radius: 50%;
}
.nav__wrapper {
    padding-left: 200px;
}
.nav {
    @include flexCenter;
    font-weight: 500;
}

.header__options {
    @include flexCenter();
    gap: 32px;
}
.header__optionsIconWrapper {
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
        background: #cdd4d7;
    }
}
.header__optionsIcons {
    @include flexCenter();

    svg {

    }
}


.header__burger {
    @include flexCenter(true);
    position: relative;
    gap: 5px;
    cursor: pointer;
    padding: 5px;
    span {
        position: relative;
        height: 0.16rem;
        background: #000;
        width: 24px;
        border-radius: 40%;
    }
    span:nth-child(2) {
    }
}
.header__adaptive {

}

@media screen and (max-width: 1200px) {
    .header {
        height: 100px;
        justify-content: flex-end;
    }
    .nav__wrapper, .header__options {
        display: none;
        visibility: hidden;
    }
}
@media screen and (max-width: 640px) {
    .header {
        padding: 36px 15px 0;
    }
    .header__logo {
        top: 40px;
        left: 15px;
        padding: 10px;
        svg {
            width: 80px;
            height: 80px;
        }
    }
}