.link {
    display: flex;
    padding: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    border-bottom: 3px solid transparent;

    transition: all 0.2s;
    &:hover {
        border-bottom: 3px solid #BC1922;

    }
}