@import '../fonts/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Gilroy', sans-serif;
}

body, html {
    margin: 0 !important;
    padding: 0;
}

* {
    /*outline: 1px solid red;*/
}